[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
tox = "*"
mypy = "*"

[packages]
md-analysis = {editable = true, path = "."}

[requires]
python_version = "3.6"
